##Quest√£o 2(Incompleta)

In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import glob

path = r'C:\Users\deusd\Downloads\Projeto Pesquisa\Dados' 
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [4]:
frame

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2018,4590,4590/2018,31/12/2018 23:55:04,01/01/2019 00:04:02,31/12/2018,22:30,A NOITE,31/12/2018,31/12/2018 23:55:04,...,FUL0185,SP,SAO PAULO,Vermelho,VW/FOX 1.0 GII,2014.0,2014.0,AUTOMOVEL,NaN,NaN
1,2018,8741,8741/2018,31/12/2018 23:50:15,01/01/2019 00:06:43,31/12/2018,23:30,A NOITE,31/12/2018,31/12/2018 23:50:15,...,FJT8505,SP,SAO PAULO,Preta,CHEVROLET/ONIX 1.0MT LT,2013.0,2013.0,AUTOMOVEL,NaN,NaN
2,2018,3396,3396/2018,31/12/2018 23:46:32,01/01/2019 00:09:17,31/12/2018,22:00,A NOITE,31/12/2018,31/12/2018 23:46:32,...,PXO8626,SP,HORTOLANDIA,Marrom,HYUNDAI/HB20 1.0M COMFOR,2016.0,2016.0,AUTOMOVEL,NaN,NaN
3,2018,5767,5767/2018,31/12/2018 23:52:58,01/01/2019 00:18:30,31/12/2018,23:20,A NOITE,31/12/2018,31/12/2018 23:52:58,...,FOX4452,SP,SAO PAULO,Vermelho,VW/FOX 1.0,2007.0,2008.0,AUTOMOVEL,NaN,NaN
4,2018,12332,12332/2018,31/12/2018 23:57:00,01/01/2019 00:23:55,31/12/2018,22:45,A NOITE,31/12/2018,31/12/2018 23:57:00,...,FEM0368,SP,CAMPINAS,Vermelho,HONDA/CG 150 TITAN ESD,2012.0,2013.0,MOTOCICLO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120549,2019,8392,8392/2019,30/09/2019 20:41:37,30/09/2019 23:46:58,30/09/2019,18:49,A NOITE,30/09/2019,30/09/2019 20:41:37,...,FFE0864,SP,SAO PAULO,Cinza,I/MMC LANCER 2.0,2013.0,2014.0,AUTOMOVEL,NaN,NaN
120550,2019,8392,8392/2019,30/09/2019 20:41:37,30/09/2019 23:46:58,30/09/2019,18:49,A NOITE,30/09/2019,30/09/2019 20:41:37,...,FYA4369,SP,PRAIA GRANDE,Laranja,VW/SAVEIRO CD CROSS MA,2014.0,2015.0,CAMINHONETE,NaN,NaN
120551,2019,7285,7285/2019,30/09/2019 23:33:50,30/09/2019 23:53:35,29/09/2019,13:20,A TARDE,30/09/2019,30/09/2019 23:33:50,...,GFG3207,SP,SAO PAULO,Marrom,BMW/R1200 GS,2018.0,2018.0,MOTOCICLO,NaN,NaN
120552,2019,1233642,1233642/2019,30/09/2019 23:57:40,30/09/2019 23:57:10,30/09/2019,20:40,A NOITE,30/09/2019,30/09/2019 23:57:40,...,NaN,NaN,NaN,N√£o Informado,NaN,NaN,NaN,MOTOCICLO,NaN,NaN
120553,2019,1233642,1233642/2019,30/09/2019 23:57:40,30/09/2019 23:57:10,30/09/2019,20:40,A NOITE,30/09/2019,30/09/2019 23:57:40,...,ELT6226,SP,S√ÉO PAULO,Vermelho,I/KIA SOUL EX 1.6L,2010.0,NaN,AUTOMOVEL,NaN,NaN

In [5]:
frame.columns.values

array(['ANO_BO', 'NUM_BO', 'NUMERO_BOLETIM', 'BO_INICIADO', 'BO_EMITIDO',
       'DATAOCORRENCIA', 'HORAOCORRENCIA', 'PERIDOOCORRENCIA',
       'DATACOMUNICACAO', 'DATAELABORACAO', 'BO_AUTORIA', 'FLAGRANTE',
       'NUMERO_BOLETIM_PRINCIPAL', 'LOGRADOURO', 'NUMERO', 'BAIRRO',
       'CIDADE', 'UF', 'LATITUDE', 'LONGITUDE', 'DESCRICAOLOCAL', 'EXAME',
       'SOLUCAO', 'DELEGACIA_NOME', 'DELEGACIA_CIRCUNSCRICAO', 'ESPECIE',
       'RUBRICA', 'DESDOBRAMENTO', 'STATUS', 'NOMEPESSOA', 'TIPOPESSOA',
       'VITIMAFATAL', 'RG', 'RG_UF', 'NATURALIDADE', 'NACIONALIDADE',
       'SEXO', 'DATANASCIMENTO', 'IDADE', 'ESTADOCIVIL', 'PROFISSAO',
       'GRAUINSTRUCAO', 'CORCUTIS', 'NATUREZAVINCULADA', 'TIPOVINCULO',
       'RELACIONAMENTO', 'PARENTESCO', 'PLACA_VEICULO', 'UF_VEICULO',
       'CIDADE_VEICULO', 'DESCR_COR_VEICULO', 'DESCR_MARCA_VEICULO',
       'ANO_FABRICACAO', 'ANO_MODELO', 'DESCR_TIPO_VEICULO',
       'QUANT_CELULAR', 'MARCA_CELULAR'], dtype=object)

In [6]:
x = ['DATAOCORRENCIA', 'HORAOCORRENCIA', 'BAIRRO',
       'CIDADE','DESCR_TIPO_VEICULO']

In [7]:
col_selecionados = frame.filter(x)

In [8]:
col_selecionados.isnull()

        DATAOCORRENCIA  HORAOCORRENCIA  BAIRRO  CIDADE  DESCR_TIPO_VEICULO
0                False           False   False   False               False
1                False           False   False   False               False
2                False           False   False   False               False
3                False           False   False   False               False
4                False           False   False   False               False
...                ...             ...     ...     ...                 ...
120549           False           False   False   False               False
120550           False           False   False   False               False
120551           False           False   False   False               False
120552           False           False   False   False               False
120553           False           False   False   False               False

[120554 rows x 5 columns]

In [9]:
col_selecionados.isnull().sum()

DATAOCORRENCIA            0
HORAOCORRENCIA         4246
BAIRRO                  276
CIDADE                   36
DESCR_TIPO_VEICULO    33008
dtype: int64

In [10]:
col_selecionados2 = col_selecionados.dropna()
col_selecionados2

,DATAOCORRENCIA,HORAOCORRENCIA,BAIRRO,CIDADE,DESCR_TIPO_VEICULO
0,31/12/2018,22:30,JD COPACABANA,POA,AUTOMOVEL
1,31/12/2018,23:30,VILA CURUCA,S.PAULO,AUTOMOVEL
2,31/12/2018,22:00,JARDIM AMANDA,HORTOLANDIA,AUTOMOVEL
3,31/12/2018,23:20,GUAIANASES,S.PAULO,AUTOMOVEL
4,31/12/2018,22:45,VILA RUY NOVAES,CAMPINAS,MOTOCICLO
...,...,...,...,...,...
120549,30/09/2019,18:49,QUIETUDE,PRAIA GRANDE,AUTOMOVEL
120550,30/09/2019,18:49,QUIETUDE,PRAIA GRANDE,CAMINHONETE
120551,29/09/2019,13:20,ITAIM BIBI,S.PAULO,MOTOCICLO
120552,30/09/2019,20:40,PARQUE S√ÉO VICENTE,MAUA,MOTOCICLO
120553,30/09/2019,20:40,PARQUE S√ÉO VICENTE,MAUA,AUTOMOVEL

In [11]:
col_selecionados2.isnull().sum()

DATAOCORRENCIA        0
HORAOCORRENCIA        0
BAIRRO                0
CIDADE                0
DESCR_TIPO_VEICULO    0
dtype: int64

In [12]:
col_selecionados2

,DATAOCORRENCIA,HORAOCORRENCIA,BAIRRO,CIDADE,DESCR_TIPO_VEICULO
0,31/12/2018,22:30,JD COPACABANA,POA,AUTOMOVEL
1,31/12/2018,23:30,VILA CURUCA,S.PAULO,AUTOMOVEL
2,31/12/2018,22:00,JARDIM AMANDA,HORTOLANDIA,AUTOMOVEL
3,31/12/2018,23:20,GUAIANASES,S.PAULO,AUTOMOVEL
4,31/12/2018,22:45,VILA RUY NOVAES,CAMPINAS,MOTOCICLO
...,...,...,...,...,...
120549,30/09/2019,18:49,QUIETUDE,PRAIA GRANDE,AUTOMOVEL
120550,30/09/2019,18:49,QUIETUDE,PRAIA GRANDE,CAMINHONETE
120551,29/09/2019,13:20,ITAIM BIBI,S.PAULO,MOTOCICLO
120552,30/09/2019,20:40,PARQUE S√ÉO VICENTE,MAUA,MOTOCICLO
120553,30/09/2019,20:40,PARQUE S√ÉO VICENTE,MAUA,AUTOMOVEL

In [13]:
col_data = col_selecionados2['DATAOCORRENCIA']
col_data.value_counts()

24/12/2019    575
31/01/2019    335
20/03/2019    323
16/05/2019    323
14/03/2019    322
             ...
04/02/2018      1
02/11/2018      1
16/06/2018      1
08/05/2018      1
27/03/2013      1
Name: DATAOCORRENCIA, Length: 579, dtype: int64

In [14]:
col_hora = col_selecionados2['HORAOCORRENCIA']
col_hora.value_counts()

20:00    2240
21:00    2143
20:30    1924
22:00    1891
21:30    1850
         ...
11:04       1
15:18       1
18:11       1
10:48       1
23:19       1
Name: HORAOCORRENCIA, Length: 1269, dtype: int64

In [15]:
col_bairro = col_selecionados2['BAIRRO']
col_bairro.value_counts()

CENTRO                        2749
JABAQUARA                     1793
SACOMA                        1261
AREA RURAL                    1111
SAO MATEUS                    1021
                              ...
VILA PLANA                       1
S√ÉO JO√ÉO                         1
Distrito de Talhado              1
VILA CAPELA                      1
CONJ. HAB. HUMBERTO POPOLO       1
Name: BAIRRO, Length: 4652, dtype: int64

In [16]:
col_cidade = col_selecionados2['CIDADE']
col_cidade.value_counts()

S.PAULO                 36460
CAMPINAS                 3950
GUARULHOS                3197
S.BERNARDO DO CAMPO      3160
DIADEMA                  3091
                        ...
RIFAINA                     1
MIRANTE PARANAPANEMA        1
SOCORRO                     1
AVANHANDAVA                 1
MORUNGABA                   1
Name: CIDADE, Length: 383, dtype: int64

In [17]:
col_veiculo = col_selecionados2['DESCR_TIPO_VEICULO']
col_veiculo.value_counts()

AUTOMOVEL          43762
MOTOCICLO          19440
CAMINHONETE         6204
CAMIONETA           3538
SEMI-REBOQUE        3083
CAMINH√ÉO TRATOR     2940
CAMINH√ÉO            2339
MOTONETA            1134
UTILIT√ÅRIO          1094
MICRO-ONIBUS         186
REBOQUE              167
ONIBUS                86
INEXIST.              76
TRATOR RODAS          54
N√£o Informado         48
CICLOMOTO             10
TRATOR MISTO           6
Name: DESCR_TIPO_VEICULO, dtype: int64

In [18]:
col_selecionados2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84167 entries, 0 to 120553
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATAOCORRENCIA      84167 non-null  object
 1   HORAOCORRENCIA      84167 non-null  object
 2   BAIRRO              84167 non-null  object
 3   CIDADE              84167 non-null  object
 4   DESCR_TIPO_VEICULO  84167 non-null  object
dtypes: object(5)
memory usage: 3.9+ MB

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X = col_selecionados2.drop('DESCR_TIPO_VEICULO', 1)
y = col_selecionados2['DESCR_TIPO_VEICULO']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size= 0.2)

modelo = LinearRegression()
modelo.fit(X_train,y_train)

predicao = modelo.predict(X_test,y_test)

In [ ]:

from sklearn.metrics import mean_squared_error,mean_absolute_error

MAE = mean_absolute_error(y_test,predicao)
RMSE = np.sqrt(mean_squared_error(y_test,predicao))


print(MAE)
print(RMSE)